<ion-header  style="background-color: #72A9AE;">
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title text-wrap text-center *ngIf="post?.post_title">{{post.post_title}} </ion-title> -->
    <ion-title (click)="goHome()">
      <img width="150" src="{{values.homerLogoP}}" />
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="post" padding>
  <ion-spinner *ngIf="!post" name="crescent"> </ion-spinner>
  <div *ngIf="post">
      <div [innerHTML]="post"></div>
  </div>
</ion-content>
